body {
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #000;
  float: left;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 34px;
}

.circle {
  border-radius: 50%;
  border: 1px solid #000;
  float: left;
  line-height: 30px;
  height: 30px;
  padding: 0;
  width: 30px;
}

.illegal {
  background: #ccc;
}

.black {
  background: #000;
}

.white {
  background: #fff;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}